@page "{id:guid}"
@model AppGoodFriendRazor.Pages.EditFriendModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]


<form class="needs-validation" method="post" novalidate>
    <input type="hidden" asp-for="FriendIM.FriendId" />
    <input type="hidden" asp-for="FriendIM.AddressId" />

    <input type="hidden" name="petId" data-seido-selected-item-id-target />
    <input type="hidden" name="quoteId" data-seido-selected-item-id-target />

    @for (int i = 0; i < Model.FriendIM.Pets.Count; i++)
    {
        <input type="hidden" asp-for="@Model.FriendIM.Pets[i]" />
    }
    @for (int i = 0; i < Model.FriendIM.Quotes.Count; i++)
    {
        <input type="hidden" asp-for="@Model.FriendIM.Quotes[i]" />
    }
    <div class="row g-3">

        <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" asp-for="FriendIM.FirstName" required>
        </div>

        <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" asp-for="FriendIM.LastName" required>
        </div>

        <div class="col-sm-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" asp-for="FriendIM.Email" required>
        </div>

        <div class="col-sm-6">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday" asp-for="FriendIM.Birthday" required>
        </div>

    <button class="w-100 btn btn-primary btn-lg my-4" type="submit">Save</button>
</form>

